<div class="d-flex align-items-center justify-content-center w-100 h-100">
  <div class="d-flex flex-column align-items-center justify-content-start w-100 py-3 content-container">
    <h2 class="mb-4"> Тахография </h2>
    <h4 class="mb-4"> Выберите услугу </h4>

    <div class="d-flex align-items-center justify-content-evenly flex-wrap">
      <a routerLink="/tachograph/history" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/history.png">
        <span> История </span>
      </a>

      <a routerLink="/tachograph/mount"
        class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/installation.svg">
        <span> Монтаж </span>
      </a>

      <a routerLink="/tachograph/service" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/service.png">
        <span> Сервис </span>
      </a>

      <a routerLink="/tachograph/cards" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/tahograph-map.svg">
        <span> Карта тахографа </span>
      </a>

      <a routerLink="/tachograph/calibration" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/calibration.svg">
        <span> Калибровка </span>
      </a>

      <a routerLink="/tachograph/change_skzi" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/service.png">
        <span> Замена СКЗИ </span>
      </a>

      <a routerLink="/tachograph/verification" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/metrological.svg">
        <span> Метрологическая поверка </span>
      </a>

    </div>

  </div>
</div>
