[Unit]
Description=Alliance nest server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/alliance/back
ExecStart=/usr/bin/node dist/main.js
Restart=always

[Install]
WantedBy=multi-user.target

