$page_width: 95%;
$page_max_width: 1000px;

$breakpoint-description-col: 1010px;
$breakpoint-worker-col: 830px;
$breakpoint-vehicle-col: 720px;
$breakpoint-contractor-col: 630px;
$breakpoint-id-col: 500px;
$breakpoint-type-col: 400px;
