<!-- <div class="d-flex align-items-center justify-content-center w-100 h-100" style="background-color:#f2f2f280">
  <h1>Какой-то контент</h1>
</div>
 -->

<div class="d-flex align-items-center justify-content-center w-100 h-100">
  <div class="d-flex flex-column align-items-center justify-content-start w-100 py-3 content-container">
    <h2 class="mb-4"> Выберите сервис</h2>

    <div class="d-flex align-items-center justify-content-evenly flex-wrap">
      <a routerLink="/profile" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/profile.png">
        <span> Просмотр профиля </span>
      </a>

      <a routerLink="/tachograph" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/tachograph.svg">
        <span> Тахография</span>
      </a>

      <a routerLink="/glonass" class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/glonass.png">
        <span>Глонасс</span>
      </a>
    </div>

  </div>
</div>
