<div class="container-fluid h-100 p-0" style="background-color: rgb(200, 171, 233);">
  <!-- <div class="d-flex w-100 h-100 align-items-center justify-content-center"
    style="background-color: rgb(171, 233, 171);"> -->
  <!-- <div style="background-color: rgb(216, 164, 164); width: 100px; text-align: center; vertical-align: middle">
      Some text
    </div> -->

  <!-- <app-close-request-dialog>
    </app-close-request-dialog> -->


  <!-- </div> -->


  <button class="red-button btn m-3" (click)="onOpenDialogButtonClick()">
    Открыть диалог
  </button>

</div>
