<footer class="container-fluid d-flex align-items-center justify-content-center p-1">

  <div class="d-flex align-items-center justify-content-center w-25 h-100 logo-container">
    <img class="m-3" src="/assets/img/index_logo.png" alt="Логотип">
  </div>

  <div class="d-flex align-items-start justify-content-center w-75 h-100 contacts-container">
    <div class="d-flex flex-column align-items-start justify-content-between h-100 py-3 address-email">
      <div class="d-flex align-items-start justify-content-start contact">
        <img class="me-2" src="/assets/img/address.svg" alt="Адресс">
        <div class="d-flex flex-column align-items-start justify-content-center info">
          <span>Наш адрес:</span>
          <span style="width: 150px;">г. Краснодар, ул. Бородинская, д. 150/12, лит. Л</span>
        </div>
      </div>
      <div class="d-flex align-items-start justify-content-start contact">
        <img class="me-2" src="/assets/img/email.svg" alt="Адресс">
        <div class="d-flex flex-column align-items-start justify-content-center info">
          <span>E-Mail:</span>
          <span>support@glonass.io</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column align-items-start justify-content-between h-100 py-3 instagram-phone">
      <div class="d-flex align-items-start justify-content-start contact">
        <img class="me-2" src="/assets/img/instagram.svg" alt="Адресс">
        <div class="d-flex flex-column align-items-start justify-content-center info">
          <span>Инстаграм:</span>
          <span>glonass.io</span>
        </div>
      </div>
      <div class="d-flex align-items-start justify-content-start contact">
        <img class="me-2" src="/assets/img/phones.png" alt="Адресс">
        <div class="d-flex flex-column align-items-start justify-content-center info">
          <span>Телефон:</span>
          <span>+7 861 245-55-10</span>
        </div>
      </div>
    </div>
  </div>



</footer>
