<nb-layout>
  <nb-layout-column style="padding: 0; min-width: 0;">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-start h-100 p-0 main_container">

        <div class="header-container">
          <app-header></app-header>
        </div>

        <div class="h-100 pb-3 content-container">
          <router-outlet></router-outlet>
        </div>

        <div class="footer-container">
          <app-footer></app-footer>
        </div>

    </div>

  </nb-layout-column>
</nb-layout>
