<div class="d-flex align-items-center justify-content-center w-100 h-100">
  <div class="d-flex flex-column align-items-center justify-content-start w-100 py-3 content-container">
    <h2 class="mb-4"> Карта тахографа </h2>
    <h4 class="mb-4"> Выберите услугу </h4>

    <div class="d-flex align-items-center justify-content-evenly flex-wrap">

      <a routerLink="/tachograph/cards/skzi"
        class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/tahograph-map.svg">
        <span> СКЗИ </span>
      </a>

      <a routerLink="/tachograph/cards/estr"
        class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
        <img class="m-1" src="assets/img/tahograph-map.svg">
        <span> ЕСТР </span>
      </a>

    </div>

  </div>
</div>
