<div class="d-flex align-items-center justify-content-center w-100 h-100">
    <div class="d-flex flex-column align-items-center justify-content-start w-100 py-3 content-container">
      <h2 class="mb-4"> СКЗИ </h2>
      <h4 class="mb-4"> Выберите карту </h4>

      <div class="d-flex align-items-center justify-content-evenly flex-wrap">

        <a routerLink="/tachograph/cards/skzi/driver"
          class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
          <img class="m-1" src="assets/img/tahograph-map.svg">
          <span> Карта водителя </span>
        </a>

        <a routerLink="/tachograph/cards/skzi/company"
          class="d-flex flex-column align-items-center justify-content-center m-1 navigate-itam">
          <img class="m-1" src="assets/img/tahograph-map.svg">
          <span> Карта предприятия </span>
        </a>

      </div>

    </div>
  </div>
